#carousel {
	height: 700px;
}

[nz-carousel-content] {
	height: 700px;
}

#feature-title {
	text-align: center;
}

@media screen and (max-width: 600px) {
	#carousel {
		height: 50vh;
	}

	[nz-carousel-content] {
		height: 50vh;
	}
}
