#carousel {
	height: 700px;
}

[nz-carousel-content] {
	height: 700px;
}

#feature-title {
	text-align: center;
}

@media screen and (max-width: 600px) {
	#carousel {
		height: 50vh;
	}

	[nz-carousel-content] {
		height: 50vh;
	}
}

::ng-deep .vertical-center-modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
	top: 0;
}

::ng-deep .modal-class {
	width: 75% !important;
}
