#logo-container {
	padding: 2%;
	background-image: url('/assets/images/altus-lions.png');
	background-repeat: no-repeat;
	background-size: 400px 150px;
}

.topnav {
	overflow: hidden;
	background-color: #001529;
	color: rgba(255, 255, 255, 0.65);
	min-height: 64px;
	padding: 0 0 0 50px;
}

.topnav a {
	line-height: 64px;
	padding: 0 20px;
	float: left;
	display: block;
	color: rgba(255, 255, 255, 0.65);
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}

.topnav a:hover .dropdown:hover .dropbtn {
	color: #fff;
}

.topnav a:active {
	background-color: #1890ff;
}

.topnav a em,
#package-icon {
	margin-right: 5px;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
	font-size: 14px;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	color: rgba(255, 255, 255, 0.65);
	line-height: 64px;
	padding: 0 20px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #001529;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
	color: #fff;
	cursor: pointer;
}

.dropdown-content a:hover {
	color: #fff;
}

.dropdown-content a:active {
	background-color: #1890ff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {
	#logo-container {
		padding: 5%;
		text-align: center;
	}

	.topnav {
		padding: 0;
	}

	.topnav a:not(:first-child),
	.dropdown .dropbtn {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive .dropdown {
		float: none;
	}

	.topnav.responsive {
		position: relative;
		padding: 10px 20px;
	}

	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}

	.dropdown-content {
		padding: 0 20px;
	}
}
