<div id="logo-container">
    <img routerLink="/home" src="/assets/images/altus_logo.png" alt="altus_logo" class="clickable" />
</div>

<div [ngClass]="navbarState">
    <a href="javascript:void(0);"></a>
    <a (click)="navigate('home')">
        <em nz-icon nzType="home" nzTheme="outline"></em> Home
    </a>
    <a (click)="navigate('about-us')">
        <em nz-icon nzType="info-circle" nzTheme="outline"></em> About Us
    </a>
    <a (click)="navigate('courses')">
        <em nz-icon nzType="book" nzTheme="outline"></em> Programs & Courses
    </a>
    <div class="dropdown">
        <button class="dropbtn">
            <em id="package-icon" nz-icon nzType="tags" nzTheme="outline"></em> Packages & Pricing
        </button>
        <div class="dropdown-content">
            <a (click)="navigate('packages/iit')">
                <em nz-icon nzType="double-right" nzTheme="outline"></em> IIT
            </a>
            <a (click)="navigate('packages/neet')">
                <em nz-icon nzType="double-right" nzTheme="outline"></em> NEET
            </a>
            <a (click)="showPaymentForm()">
                <em nz-icon nzType="double-right" nzTheme="outline"></em> QuickPay
            </a>
        </div>
    </div>
    <a (click)="navigate('faq')">
        <em nz-icon nzType="question-circle" nzTheme="outline"></em> FAQ
    </a>
    <a (click)="navigate('contact')">
        <em nz-icon nzType="mail" nzTheme="outline"></em> Contact Us
    </a>
    <a (click)="navigate('testimonials')">
        <em nz-icon nzType="team" nzTheme="outline"></em> Testimonials
    </a>
    <a href="https://www.altusknowledge.com" target="_blank" rel="noopener noreferrer">
        <em nz-icon nzType="form" nzTheme="outline"></em> Speed Tests
    </a>
    <a class="icon" (click)="toggleNavbar($event)">
        <em nz-icon nzType="menu" nzTheme="outline"></em>
    </a>
</div>