<nz-card id="container">
    <nz-card nzTitle="Privacy Policy" [nzExtra]="actions">
        <p>
            Altus Knowledge will not release, sell, rent, or trade the personal information of any of the
            customers of www.altusknowledge.co.in to any third party. Altus Knowledge respects and
            understands the importance of privacy and security of its customers. Any personal information
            collected by www.altusknowledge.co.in, including contact information, unique identifier
            information, transactional and financial information, will be kept private.
            Users who supply us with their telephone numbers or e-mail addresses on-line may receive
            telephone calls or emails from us and/or our affiliates with information regarding special
            promotions, new products and services or upcoming events.
        </p>
    </nz-card>
</nz-card>

<ng-template #actions>
    <a target="_blank" href="../../../assets/docs/privacy.pdf">Download PDF</a>
</ng-template>