<nz-card>
    <div nz-row [nzGutter]="32">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-card nzTitle="Courses are Customized for your benefit" nzBordered="false">
                <p>
                    Our courses are designed to help students achieve the highest levels of excellence and grades. Here,
                    we try to lay a strong foundation in the student’s upcoming academic life. We understand the
                    importance of personal attention in nurturing young minds to their full potential. So we model our
                    interactive classroom into small batches of focused students engaged with an insightful mentor.
                    Through our holistic approach we infuse deep knowledge of the subjects into our students.
                </p>
            </nz-card>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-card nzTitle="Rating achieved: 98%" nzBordered="false">
                <p>
                    <em nz-icon nzType="star" nzTheme="outline" [nzSpin]="true"></em>
                    When rating does matter. We are one of the best rated institute. 100% guaranteed selection in IIT.
                </p>
            </nz-card>
        </div>
    </div>

    <nz-divider></nz-divider>

    <div id="quote">
        <span nz-text nzType="warning">
            <code>
                Set your course by the stars, not by the lights of every passing ship.
            </code>
        </span>
    </div>

    <nz-divider></nz-divider>

    <div nz-row [nzGutter]="32">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-card nzBordered="false">
                <nz-timeline>
                    <nz-timeline-item [nzDot]="dot1">
                        <strong nz-title nz-text nzType="secondary">IIT-JEE Selection</strong>
                        <ul>
                            <li>Guaranteed Selection in IIT</li>
                            <li>Pay after Selection</li>
                            <li>IIT/NIT Alumni Faculties or SMEs</li>
                            <li>Unique tips and tricks</li>
                        </ul>
                    </nz-timeline-item>

                    <nz-timeline-item [nzDot]="dot2">
                        <strong nz-title nz-text nzType="secondary">XI & XII Exam Preparation</strong>
                        <ul>
                            <li>20% more than expected marks</li>
                            <li>Course coverage by IIT/NIT Alumni or SMEs</li>
                            <li>80% Anticipated Board paper</li>
                            <li>Low tutor to student ratio</li>
                        </ul>
                    </nz-timeline-item>

                    <nz-timeline-item [nzDot]="dot3">
                        <strong nz-title nz-text nzType="secondary">IIT JEE + Board Preparation</strong>
                        <ul>
                            <li>Course covered twice-both board level and IIT level</li>
                            <li>Guaranteed Selection in IIT</li>
                            <li>Pay after Selection</li>
                            <li>Ranker’s test series</li>
                        </ul>
                    </nz-timeline-item>
                </nz-timeline>

                <ng-template #dot1>
                    <img src="../../assets/images/courses1.png" alt="courses" />
                </ng-template>

                <ng-template #dot2>
                    <img src="../../assets/images/courses2.png" alt="courses" />
                </ng-template>

                <ng-template #dot3>
                    <img src="../../assets/images/courses3.png" alt="courses" />
                </ng-template>
            </nz-card>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <nz-card nzBordered="false">
                <nz-timeline>
                    <nz-timeline-item [nzDot]="dot4">
                        <strong nz-title nz-text nzType="secondary">Medical Entrance Exam Preparation</strong>
                        <ul>
                            <li>Memorising techniques for Biology</li>
                            <li>Doctors/SMEs as faculty</li>
                            <li>Unique easy tips & tricks for Physics & Chemistry</li>
                        </ul>
                    </nz-timeline-item>

                    <nz-timeline-item [nzDot]="dot5">
                        <strong nz-title nz-text nzType="secondary">Engineering Entrance Exam Preparation</strong>
                        <ul>
                            <li>IIT/NIT Alumni Tutors or SMEs</li>
                            <li>Easy short cut techniques</li>
                            <li>Extra classes for week students</li>
                            <li>Regular doubt clearing classes</li>
                        </ul>
                    </nz-timeline-item>

                    <nz-timeline-item [nzDot]="dot6">
                        <strong nz-title nz-text nzType="secondary">IX & X Board Preparation + IIT Foundation</strong>
                        <ul>
                            <li>Course coverage by iit/nit alumni or SMEs</li>
                            <li>Advance level of topics to lay foundation for IIT</li>
                            <li>Weekly mock tests</li>
                            <li>Career Counselling by Experts</li>
                        </ul>
                    </nz-timeline-item>
                </nz-timeline>

                <ng-template #dot4>
                    <img src="../../assets/images/courses4.png" alt="courses" />
                </ng-template>

                <ng-template #dot5>
                    <img src="../../assets/images/courses5.png" alt="courses" />
                </ng-template>

                <ng-template #dot6>
                    <img src="../../assets/images/courses6.png" alt="courses" />
                </ng-template>
            </nz-card>
        </div>
    </div>

    <nz-divider></nz-divider>

    <div id="programs">
        <span nz-text nzType="warning">
            <strong>Tutoring Programs</strong>
        </span>
        <br />
        <strong>Altus Knowledge offers customised programs</strong>
    </div>

    <nz-divider></nz-divider>

    <div nz-row [nzGutter]="32">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="flip-card-col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/courses-card1.png" alt="courses-card"
                            class="courses-card-image" />

                        <h1>CLASSROOM COACHING</h1>
                        <h3>Guaranteed success through training</h3>
                    </div>
                    <div class="flip-card-back">
                        <h1>Description</h1>
                        <p>From basic to very advanced</p>
                        <p>Unique Short-cut Methods</p>
                        <p>Regular doubt clearing sessions</p>
                        <p>Extra classes for weak students</p>
                        <p>Periodic progress monitoring and reports</p>
                    </div>
                </div>
            </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="flip-card-col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/courses-card2.png" alt="courses-card"
                            class="courses-card-image" />

                        <h1>ONLINE CLASSES</h1>
                        <h3>Expert guidance when and where it is needed the most</h3>
                    </div>
                    <div class="flip-card-back">
                        <h1>Description</h1>
                        <p>Remote Location Services</p>
                        <p>Interactive Lectures by Subject Experts</p>
                        <p>Consolidated course coverage</p>
                        <p>Online support - Doubt clearance within 24 hours</p>
                        <p>Reschedulable Online tests with instant results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row [nzGutter]="32">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="flip-card-col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/courses-card3.png" alt="courses-card"
                            class="courses-card-image" />

                        <h1>CORRESPONDENCE COURSES</h1>
                        <h3>Not distant from your Goal: From books to excellence</h3>
                    </div>
                    <div class="flip-card-back">
                        <h1>Description</h1>
                        <p>Study Material Prepared by IIT/IISc& NIT Veterans</p>
                        <p>Model questions, easy solutions</p>
                        <p>Relevant and practical techniques</p>
                        <p>Interpretation & Analysis advice</p>
                        <p>Mock test Series</p>
                    </div>
                </div>
            </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="flip-card-col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/courses-card4.png" alt="courses-card"
                            class="courses-card-image" />

                        <h1>RANKER'S TEST SERIES</h1>
                        <h3>Test yourself before the test</h3>
                    </div>
                    <div class="flip-card-back">
                        <h1>Description</h1>
                        <p>70% questions in IIT JEE are from our test series every year</p>
                        <p>Exact IIT exam question patterns</p>
                        <p>All India Ranking along with results</p>
                        <p>All India Ranking along with results</p>
                        <p>Time management for individual questions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nz-card>