<nz-card>
    <nz-card nzTitle="Terms and Conditions" [nzExtra]="actions">
        <strong>
            PLEASE READ THE TERMS AND CONDITIONS CAREFULLY. BY YOUR ACCESSING THE
            CONTENTS OF THIS WEB SITE YOU ARE DEEMED TO HAVE READ THE TERMS AND
            CONDITIONS AND YOUHERERWITH AGREE TO THE TERMS AND CONDITIONS FOR USE
            OF THE ALTUS KNOWLEDGE WEB SITE.
        </strong>

        <p>
            I hereby acknowledge that I have read and understand the foregoing ALTUS KNOWLEDGE
            web site terms and conditions and agree that by accessing the web site I am acknowledging my
            agreement to be bound by the terms and conditions of this ALTUS KNOWLEDGE.
        </p>

        <strong>1. Acceptance</strong>

        <p>
            These Terms and Conditions (T&C) apply to all users of this website and any associated
            services. By using the website you will be deemed to agree to these T&C without qualification. If
            you do not agree to be bound by these T&C, please do not use the website or continue to use
            the website. The website is intended to serve as an introduction to ALTUS KNOWLEDGE, to
            identify and promote the range of services the company can offer to its clients and to provide
            details as to how ALTUS KNOWLEDGE can be contacted.
            Access to some services or content may require registration. By creating an account and
            making use of the website you agreed to abide by any and all of the following T&C governing
            use of the website. We shall be provided a unique User id and password as mentioned above.
            That username and password are personal to you and you agree at all times to maintain the
            confidentiality of your username and password and not to disclose them to any third party. The
            allocated user ID and password must be used whenever requested. That you hereby
            acknowledge that in exercising the right to use this account, you shall be entirely responsible for
            maintaining the confidentiality of the password and account. You agree that you are solely
            responsible for any use of the website by any person using your name and password whether
            with or without your specific approval.
            ALTUS KNOWLEDGE takes no responsibility and shall stand totally indemnified by the
            Subscriber for any or all consequences caused by any unauthorized use of the Subscriber's
            account by any third-party.
            Altus Knowledge collects the content and other information that you provide when you use our
            Services. This can include name, date of birth, email address, location, contact details, etc. The
            user data is secured with Altus Knowledge and we will treat your personal information with care,
            and comply with all applicable legislation currently in force. The data that a user provides while
            registration can be used for marketing and promotional activities of Altus Knowledge like SMS,
            e-mails, newsletters, campaigns, etc.
            Altus Knowledge reserves the right to use the information that it has for surveys, research and
            analysis in order to improve our services and products. To send you marketing communications,
            our marketing or sales department is allowed to call on the user data in order to update the user
            about our upcoming products and offers. They can also respond in case a user contacts us. If a
            user who has registered with us on our website and has taken any course of Altus Knowledge
            clears any entrance exam (JEE/NEET/State Board exam) with a good AIR, then Altus
            Knowledge holds the right to use his name, display picture, marks, rank, course name on its
            social media platforms and for other marketing activities like newspapers, banners, pamphlets,
            leaflets, etc.

            For clarity, in the Terms, 'we', 'our' and 'us' means the Altus Knowledge Team Members and
            'you' and 'your' means any natural or legal person who uses the Website and each entity on
            whose behalf the user acts. 'Content/material' refers to any text, image or anything found on the
            website. Unless otherwise defined in the Terms, 'Website' refers to www.altusknowledge.co.in
        </p>

        <ol>
            <li>
                We have authority to grant or deny right of access to data and accounts for any users. The
                contents, information, material include on this site to the full extent permissible by applicable
                law.
            </li>

            <li>
                We reserve the right to modify the terms and conditions of the service without any prior
                notification. The users are advised to regularly review the terms, if any user does not agree with
                the terms and conditions then such user must not visit this site or register with the site.
            </li>

            <li>
                The web site contains information about various academic programmes offered by ALTUS
                KNOWLEDGE as well as about various examinations that are conducted by them. THE
                INFORMATION AVAILABLE ON THIS SITE is for general information purpose.
            </li>

            <li>
                The user of this site has the sole responsibility for adequate protection and back-up of data
                and/or equipment used in connection with the site. Any damage to your computer from the use
                of this site or from download of any material is done at your discretion and risk.
            </li>

            <li>
                No charge is made by us for your use of the Website. However, you should be aware that local
                telephone call charges, at rates as publicised by your telephone operator, may apply
            </li>

            <li>
                We hold the ownership rights, on all the content available on the website and make no warranty
                that the service will be uninterrupted, timely, secure or error-free.
            </li>

            <li>
                Unauthorized use of this website may give rise to a claim for damages and/or be a criminal
                offence.
            </li>

            <li>
                We welcome suggestions of the users on the website for improvement of its contents, material,
                and information however the same shall not be paid.
            </li>

            <li>
                The contents of the page of this website is for your general information and use only and is
                subject to change without any notice. We will not be held responsible for the authenticity of
                views and comments of users on the website
            </li>

            <li>
                From time to time this website may also include links to other websites. These links are
                provided for your convenience to provide further information. They do not signify that we
                endorse the website(s). We accept no responsibility for the content of the linked website(s).
            </li>

            <li>
                The User agrees to provide authentic and true information. We reserve the right to confirm and
                validate the information and other details provided by the User at any point of time. If upon
                confirmation such User details are found untrue/doubtful (wholly or partly), We have the right in
                its sole discretion to reject the registration and debar the User from using
                www.altusknowledge.co.in
            </li>

            <li>
                The users are prohibited from using any of the marks or logos appearing in the site without
                permission from us
            </li>

            <li>
                Your use of this website and any dispute arising out of such use of the website is subject to the
                Jurisdiction of Lucknow, India.
            </li>
        </ol>

        <strong>2. Conduct on Website</strong>

        <p>
            Using the Site
            You agree to abide by all applicable laws, regulations and codes of conduct (including self
            regulatory) and you agree to be solely responsible for all things arising from your use of the
            Website. You agree not to post, email, or otherwise make available Content:
        </p>

        <ol>
            <li>
                that is unlawful, harmful, threatening, abusive, harassing, defamatory, libellous, invasive of
                another's privacy, or is harmful to minors in any way;
            </li>

            <li>
                that is pornographic, political and racist in nature
            </li>

            <li>
                that harasses, degrades, intimidates or is hateful toward an individual or group of individuals on
                the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;
            </li>

            <li>
                that impersonates any person or entity, including, but not limited toan employee, or falsely
                states or otherwise misrepresents your affiliation with a person or entity;
            </li>

            <li>
                that includes personal or identifying information about another person without that person's
                explicit consent;
            </li>

            <li>
                that is false, deceptive, misleading, deceitful, misinformative, or constitutes "bait and switch";
            </li>

            <li>
                that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any
                party, or Content that you do not have a right to make available under any law or under
                contractual or fiduciary relationships;
            </li>

            <li>
                that constitutes or contains "affiliate marketing," "link referral code," "junk mail," "spam," "chain
                letters," "pyramid schemes," or unsolicited commercial advertisement. User are not permitted to
                copy, download, digital imaging and screen capture any content (Videos, images etc.)
            </li>

            <li>
                that advertises any illegal service or the sale of any items the sale of which is prohibited or
                restricted by any applicable law, including without limitation items the sale of which is prohibited
                or regulated by Indian law.
            </li>

            <li>
                External links are allowed to authoritative subject oriented Wikipedia articles if necessary and
                are generally not allowed that are directly/indirectly meant for
                promotional/advertising/unnecessary purposes.
            </li>

            <li>
                that contains software viruses or any other computer code, files or programs designed to
                interrupt, destroy or limit the functionality of any computer software or hardware or
                telecommunications equipment;
            </li>

            <li>
                Forum is any area, site or feature offered as part of the Website (including without limitation
                discussion forums, message boards, blogs, chat rooms, emails or personal messaging features)
                that enables You (a) to upload, submit, post, display, perform, distribute and/or view User
                Content, and/or (b) to communicate, share, or exchange User Content with other Website
                members or other Website visitors. You acknowledge that Forums, and features contained
                therein, are for public and not private communications. You further acknowledge that anything
                You upload, submit, post, transmit, communicate, share or exchange by means of any Forum
                may be viewed on the Internet by the general public, and therefore, You have no expectation of
                privacy with regard to any such submission or posting. You are, and shall remain, solely
                responsible for the User Content you upload, submit, post, transmit, communicate, share or
                exchange by means of any Forum and for the consequences of submitting or posting same.
            </li>

            <li>
                that disrupts the normal flow of dialogue with an excessive number of messages (flooding
                attack) to the Service, or that otherwise negatively affects other users' ability to use the Service;
                or
            </li>

            <li>
                that employs misleading email addresses, or forged headers or otherwise manipulated
                identifiers in order to disguise the origin of Content transmitted through the Service.
            </li>

            <li>
                The users are not permitted to mention any coaching institute or its courses directly/indirectly on
                the website.
            </li>

            <li>
                Students shall not post any personal information on the website.
            </li>
        </ol>

        <strong>3. Disclaimer of Warranties</strong>

        <p>
            You agree that use of our site and the service is entirely at your own risk. All express and
            implied warranties, including, without limitation, the warranties of merchantability, fitness for a
            particular purpose, and non-infringement of proprietary rights are expressly disclaimed to the
            fullest extent permitted by law. We disclaim any warranties for the security, reliability, timeliness,
            accuracy, and performance of the Web site and the service.
        </p>

        <strong>4. General Information</strong>

        <p>
            The Terms and the relationship between you and ALTUS KNOWLEDGE shall be governed by
            the Indian laws without regard to its conflict of law provisions. You agree to submit to the
            personal and exclusive jurisdiction of the courts located within Lucknow, India. You agree that
            regardless of any statute or law to the contrary, any claim or cause of action arising out of or
            related to use of the Service or the Terms must be filed within one (1) year after such claim or
            cause of action arose or be forever barred.
        </p>

        <strong>5. Violation of Terms and Liquidated Damages</strong>

        <p>
            Our failure to act with respect to a breach by you or others does not waive our right to act with
            respect to subsequent or similar breaches. You understand and agree that, because damages
            are often difficult to quantify, if it becomes necessary for us to pursue legal action to enforce
            these Terms, you will be liable to pay us the following amounts as liquidated damages, which
            you accept as reasonable estimates damages for the specified breaches of these Terms: If you
            post a message that (1) impersonates any person or entity; (2) falsely states or otherwise
            misrepresents your affiliation with a person or entity; or (3) that includes personal or identifying
            information about another person without that person's explicit consent(4) you aggregate,
            display, copy, duplicate, reproduce, or otherwise exploit for any purpose any Content (except for
            your own Content) in violation of these Terms , you agree to pay ALTUS KNOWLEDGE fifty
            thousand rupees (Rs 50,000) for each such message.
        </p>

        <strong>6. Intellectual property rights</strong>

        <p>
            Unless otherwise stated, we or our licensors own the intellectual property rights in the website
            and material on the website. Subject to the licence below, all our intellectual property rights are
            reserved.
        </p>

        <strong>7. Licence to use website</strong>

        <p>
            You may view, download for caching purposes only, and print pages from the website, provided
            that: (a) you must not republish material from this website (including republication on another
            website), or reproduce or store material from this website in any public or private electronic
            retrieval system; (b) you must not reproduce, duplicate, copy, sell, resell, visit, or otherwise
            exploit our website or material on our website for a commercial purpose, without our express
            written consent; (c) you must not edit or otherwise modify any material on the website.
        </p>

        <strong>8. Limitations of liability</strong>

        <p>
            The information on this website is provided free-of-charge, unless otherwise specified and you
            acknowledge that it would be unreasonable to hold us liable in respect of this website and the
            information on this website. While we endeavour to ensure that the information on this website
            is correct, we do not warrant its completeness or accuracy; nor do we not commit to ensuring
            that the website remains available or that the material on this website is kept up-to-date. To the
            maximum extent permitted by applicable law we exclude all representations, warranties and
            conditions (including, without limitation, the conditions implied by law of satisfactory quality,
            fitness for purpose and the use of reasonable care and skill). Our liability is limited and excluded
            to the maximum extent permitted under applicable law. We will not be liable for any direct,
            indirect or consequential loss or damage arising under these terms and conditions or in
            connection with our website, whether arising in contract, or otherwise – including, without
            limitation, any loss of profit, contracts, business, goodwill, data, income, revenue or anticipated
            savings. However, nothing in these terms and conditions shall exclude or limit our liability for
            fraud, for death or personal injury caused by our negligence, or for any other liability which
            cannot be excluded or limited under applicable law.
        </p>

        <strong>9. Entire agreement</strong>

        <p>
            These terms and conditions, together with our privacy policy constitute the entire agreement
            between you and us in relation to your use of our website, and supersede all previous
            agreements in respect of your use of this website.
        </p>

        <strong>10. User Created Content</strong>

        <p>
            ALTUS KNOWLEDGE is not responsible for any content uploaded by its users and does not
            endorse any user defined information. Users may not create or upload any vulgar, threatening,
            abusive, libelous, defamatory, obscene, pornographic, destructive, malicious, or otherwise
            unlawful content of any kind. Users may not upload any information that would be in violation of
            local, state, national, or international law.
        </p>

        <strong>11. Reporting of Violations</strong>

        <p>
            Please report any violation of these terms to: altusknowledge@gmail.com
        </p>

        <strong>12. Assignment</strong>

        <p>
            You shall not assign any of your rights or obligations under these Terms without our prior written
            consent. We shall have the right to assign or otherwise delegate all or any of our rights or
            obligations under these Terms upon notification to you.
        </p>

        <strong>13. Waiver</strong>

        <p>
            Our failure to exercise or enforce any of our rights in connection with these Terms shall not
            constitute a waiver of any such right unless acknowledged and agreed to by us to you in writing.
        </p>

        <strong>14. Notices</strong>

        <p>
            Any and all notices to be given by either one of us to the other pursuant to or in connection with
            these Terms shall be deemed sufficiently given when forwarded by e-mail or facsimile
            transmission in each case addressed to you at the e-mail address or facsimile number you have
            given us or to us at the e-mail address or facsimile number displayed on the Website
        </p>

        <strong>15. Law and jurisdiction</strong>

        <p>
            This notice will be governed by and construed in accordance with the Indian law, and any
            disputes relating to this notice shall be subject to the exclusive jurisdiction of the courts of
            Lucknow, India
        </p>

        <strong>16. Purchase of our Online courses</strong>

        <p>
            Our courses are only available for sale only at www.altusknowledge.co.in &
            www.altusknowledge.com Purchase of courses on any other website/URL shall be null & void.
        </p>

        <br />

        <strong>Terms and Conditions For DVD</strong>

        <ol>
            <li>
                If the DVD is misplaced/destroyed/failure of performance/omission/interruption/defected/delay
                in operation or transmission/computer virus/communication line failure/theft or destruction or
                unauthorized access to/alteration of/or use of record/whether for breach of contract/after
                received by the user, the company is not liable for it.
            </li>

            <li>
                We check the working condition of the DVDs before sending out to you so in case of a
                replacement , the non-workable condition has to be verified by us.
            </li>

            <li>
                No shipping cost is included.
            </li>

            <li>
                Altusknowledge.co.in holds the license to the contents of this video. This educational video
                has been provided to you for private home viewing purposes only and is protected under the
                Indian Educational Rights. Any unauthorized duplication, public screening or using the video for
                business purpose is strictly prohibited and will be dealt with in the most severe manner which
                includes imprisonment and a heavy fine.
            </li>
        </ol>

        <br />

        <strong>SPECIFIC TERMS</strong>

        <p>
            If a user chooses to purchase any of Altus Knowledge Programs/Products or services (the “Paid
            Services”), the following additional terms and conditions will apply. If the user is a minor, he/she
            must purchase the Paid Services through a parent or lawful guardian. Altus Knowledge has the
            right to presume that user has lawfully represented his/her capacity to subscribe to a Paid Service
            whether directly or through a parent or guardian.
        </p>

        <ul>
            <li>
                <strong>Registration</strong>

                <br />

                <p>
                    To gain a greater level of access, User must be authorised by Altus Knowledge and once
                    authorised, the User will select a password, and be assigned an ID. Each User is expressly
                    prohibited from using another User's ID without such person's authorization. Failure to
                    comply with the foregoing shall constitute a breach of this Agreement, which may result
                    in immediate termination of that User's authorisation. Each User shall be solely
                    responsible for maintaining the confidentiality of his/her password. Each User shall
                    immediately notify Altus Knowledge of any known or suspected unauthorised use(s) of
                    his/her account, or any known or suspected breach of security, including loss, theft, or
                    unauthorized disclosure of his/her confidential information.
                </p>
            </li>

            <li>
                <strong>Purchasing and Ordering Terms</strong>

                <p>
                    In purchasing a Paid Service, User understands and agrees to the terms below. If User
                    does not understand and agree with these terms, User should not place an order for a Paid
                    Service.
                </p>
            </li>

            <li>
                <strong>Pricing</strong>

                <p>
                    ALL PRICES ARE SUBJECT TO CHANGE WITHOUT NOTICE. EVERY EFFORT
                    HAS BEEN MADE TO ENSURE ACCURATE PRICING OF THE PAID SERVICES
                    FEATURED ON OUR WEBSITE. THE GOVERNMENT LEVIES MAY CHANGE
                    AND SUCH LEVIES SHALL BE APPLICABLE AT THE RATE PREVAILING ON
                    THE DATE ON WHICH YOU MAKE THE PAYMENT. YOU AGREE THAT ALL
                    PAID SERVICES PURCHASED BY YOU THROUGH THIS WEBSITE ARE
                    PROVIDED BY ALTUS KNOWLEDGE ON "AS IS" BASIS WITH NO
                    REPRESENTATIONS OR WARRANTIES OF ANY KIND FROM ALTUS
                    KNOWLEDGE.
                </p>
            </li>

            <li>
                <strong>Payments</strong>

                <p>
                    User may choose amongst the various payment options available at the Website. If User
                    chooses to make payment through credit card/debit card/net banking or through any other
                    electronic mode, User understands and agrees that when User approaches or is guided to
                    third-party gateways for payment, Altus Knowledge shall not be liable for the
                    information provided by the User (credit card number, debit card information, bank
                    account detail or any personal information) to the third-party.
                </p>

                <p>
                    User understands and agrees that when he/she makes payment through any physical
                    mode, User shall not make any payment in cash to any officer/employee/agent or affiliate
                    of Altus Knowledge. User may note that Altus Knowledge does not accept payments in
                    cash. User and not Altus Knowledge shall be responsible for any cash payment.
                </p>

                <p>
                    Cheque/DD shall be made in favour of 'AltusKnowledge.co.in' and shall be payable at
                    any nearest branch
                </p>

                <p>
                    User shall make the payment so that the Cheque/DD reaches Altus Knowledge within 10
                    days of placing the Order.
                </p>

                <p>
                    Altus Knowledge has no obligation to activate the Paid Services or to give any credit to
                    the User for the amount not received and realized in its account for whatever reasons.
                    Returned cheques will incur a Rs. 250/- charge to cover banking fees and administrative
                    costs. In an instance of a Returned cheque, Altus Knowledge reserve the right to
                    terminate the Paid Services forthwith and, all future transactions shall be by Demand
                    Draft, Credit Card/Debit Card or Net banking only.
                </p>
            </li>

            <li>
                <strong>Complimentary Features</strong>

                <p>
                    Company may provide some complimentary feature(s) with any paid service. These
                    complimentary feature(s) may be subject to such limitations and restrictions, as per the
                    policy of the company, as ammended from time to time. Company reserves the right to
                    withdraw or modify any or all of complimentary feature(s) provided with any
                    product/package at any time at its sole discretion, without recourse to user.
                </p>
            </li>

            <li>
                <strong>Cancellation and Refund Policy</strong>

                <p>
                    As of now Altus Knowledge does not provide any option for cancellation of Paid
                    Services that User has purchased or subscribed. Once a Paid Service has been purchased
                    by a User, Altus Knowledge cannot provide any refund, either totally or partially. User
                    should go through the free demos and/or free to use contents/programs/services before
                    the User subscribes to or purchases any Paid Services from Altus Knowledge.
                </p>
            </li>
        </ul>

        <strong>Payment Methods</strong>

        <p>
            You can make the payment by following methods:
        </p>

        <ul>
            <li>Debit/Credit Card</li>

            <li>Net Banking</li>

            <li>EMI Payments</li>

            <li>Paytm Wallet</li>

            <li>NEFT</li>
        </ul>
    </nz-card>
</nz-card>

<ng-template #actions>
    <a target="_blank" href="../../../assets/docs/tnc.pdf">Download PDF</a>
</ng-template>