<nz-card>
    <nz-card nzTitle="About Us">
        <p>
            Altus Knowledge is an autonomous private coaching and tutorial centre that prepares and counsels students to
            pursue right careers in the field of Engineering and Medicine. Altus Knowledge faculties are alumni of IIT/
            NIT or SMEs only, which gives students unsurpassed learning experience.
        </p>

        <p>
            Our Objective is to equip our students with the right skill sets to bring about a transformation in their
            analytical, critical and logical thinking.The most important qualities imparted through our academic
            approach are the abilities to think independently and holistically. We promote the idea of innovation and to
            learn through creative exploration and experimentation.
        </p>
    </nz-card>

    <br /><br />

    <nz-card nzTitle="Vision">
        <p>
            We, at Altus Knowledge, have created a vision. We articulate it, passionately own it and will relentlessly
            drive it to completion.
        </p>

        <p>
            Our vision is to emerge as a pre-eminent educational organisation that aims to work for the holistic
            enhancement of society by enabling the young and bright minds of the country. To help the students achieve
            their aspirations of becoming doctors and engineers thereby pushing India into the comity of developed
            nation.
        </p>
    </nz-card>

    <br /><br />

    <nz-card nzTitle="Mission">
        <p>
            Outstanding Organisations have one thing in common An absolute sense of mission.We are in the business of
            fostering human potential in creative ways.

            Our mission at Altus Knowledge is:
        </p>

        <ul>
            <li>
                To create an excellent competitive environment for students by virtue of imparting qualitative
                education with consolidated strategy and scientific approach to produce proficient professionals.
            </li>

            <li>
                To participate in different spheres of education, at different stages.
            </li>

            <li>
                Development & Usage of efficient tools for better delivery, connectivity and dissemination of
                information & content by application of modern technology.
            </li>
        </ul>
    </nz-card>
</nz-card>